body { 
    background-color: #000;
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0px;
}

.main--container {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    background-color: hsl(244, 38%, 16%);
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.text--section-inner-container {
    width: 80%;
    padding: 30px;
}

.text--section {
    color: #fff;
    width: 100%;
    text-align: center;
}

.text--section-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: hsl(0, 0%, 100%);
    font-size: 32px;
    margin-top: 0;
}

.title--highlight {
    color: violet;
}

.text--section-paragraph {
    margin-bottom: 30px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    line-height: 24px;
}

.text--section-bottom-box-container {
    display: flex;
    place-content: space-between;
    flex-direction: column;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
}

.bottom--box-number {
    margin-bottom: 0;
    color:hsl(0, 0%, 100%);
}

.image--section {
    width: 100%;
    margin: 0px;
}

.image--section-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.image--section-overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(172, 86, 225,0.8);
    mix-blend-mode: multiply;
    position: absolute;
    border-radius: 10px 10px 0 0;
}

.image--section-photo {
    background-image: url(../images/image-header-mobile.jpg);
    min-height: 240px;
    width: 100%;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.attribution {
    margin-top: 50px;
    position: relative;
    font-size: 10px;
    width: 100%;
}

.attribution-text {
    position: absolute;
    width: 100%;
    color: hsl(0, 0%, 100%);
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}

a {
    color: hsla(0, 0%, 100%, 0.75)
}

@media screen and (min-width: 768px) {
    .main--container  {
        flex-direction: row;
        max-width: 1140px;
        margin-top: 100px;
    }

    .image--section {
        width: 50%;
    }

    .image--section-photo {
        background-image: url(../images/image-header-desktop.jpg);
        height: 100%;
        border-radius: 0 10px 10px 0;
    }

    .image--section-overlay:before {
        border-radius: 0 10px 10px 0;
    }

    .text--section {
        width: 50%;
        text-align: unset;
    }

    .text--section-inner-container {
        width: 85%;
        padding: 15px;
    }

    .text--section-bottom-box-container {
        flex-direction: row;
    }

    .text--section-paragraph {
        margin-bottom: 60px;
    }

    .attribution {
        font-size: 12px;
        margin-top: 150px;
    }
}

@media screen and (min-width: 1024px) {
    .main--container {
        margin-top: 150px;
    }

    .text--section-inner-container {
        width: 70%;
        padding: 70px;
    }
}